<div class="row">
    <div class="container">
        &ensp;
    </div>
</div>
{%if messages%} 
    {%for mensagem in messages%} 
        {%if mensagem.tags == 'alert-danger'%}
            <div class="row">
                <div class="container">
                    <div class="alert alert-danger" role="alert">
                    {{mensagem}} - {{mensagem.tags}}
                    </div>
                </div>
            </div>
        {%endif%} 
        {%if mensagem.tags == 'alert-info'%}
            <div class="row">
                <div class="container">
                    <div class="alert alert-info" role="alert">
                        {{mensagem}} - {{mensagem.tags}}
                    </div>
                </div>
            </div>
        {%endif%} 
        {%if mensagem.tags == 'alert-success'%}
            <div class="row">
                <div class="container">
                    <div class="alert alert-success" role="alert">
                        {{mensagem}} - {{mensagem.tags}}
                    </div>
                </div>
            </div>
        {%endif%} 
        {%if mensagem.tags == 'alert-warning'%}
        <div class="row">
            <div class="container">
                <div class="alert alert-warning" role="alert">
                    {{mensagem}} - {{mensagem.tags}}
                </div>
            </div>
        </div>
    {%endif%} 
    {%endfor%} 
{%endif%}