{%extends "tempIndex.html"%} 
{%block titulo%}Login|{%endblock%}
{%block conteudo%}
<!-- EXCELENTE -->
<!-- Boa formatação para Bootstrap  -->
<!-- ------ ↓ -- ↓ ---------------- -->
<h1 class="mt-3 mb-3">Login</h1>
<!-- ------ ↑ -- ↑ ---------------- -->
<!-- Esta formatação é muito útil - -->
<!-- EXCELENTE -->
<form method="post" action="{%url 'login'%}">
  {% csrf_token %} {%include 'parciais/tempAlerta.html'%}
  <!-- Esta mensagem virá ↑ da View -->
  {%if not user.is_authenticated%}
  <div class="form-group">
    <label for="strUsuario">Usuário</label>
    <input
      type="text"
      name="strUsuario"
      value="{{request.POST.strUsuario}}"
      class="form-control"
      id="strUsuario"
      placeholder="Usuário"
    />
  </div>
  <div class="form-group">
    <label for="strSenha">Senha</label>
    <input
      type="password"
      name="strSenha"
      class="form-control"
      id="strSenha"
      placeholder="********"
    />
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  {%else%}
   Olá {{user.firstName}} {{user.firstName}}
  <p>O seu usuário é: {{user}}.</p>
  <p>O seu e-mail é: {{user.email}}.</p>
  <a
    href="{%url 'sair'%}"
    class="btn btn-outline-danger"
    role="button"
    aria-pressed="true"
    >Sair</a
  >
  {%endif%}
</form>
{%endblock%}
